[submodule "dlnasrc"]
	path = dlnasrc
	url = git@bitbucket.org:ruihri/dlnasrc.git
[submodule "dtcpip"]
	path = dtcpip
	url = git@bitbucket.org:ruihri/dtcpip.git
[submodule "demuxbin"]
	path = demuxbin
	url = git@bitbucket.org:ruihri/demuxbin.git
[submodule "test"]
	path = test
	url = git@bitbucket.org:ruihri/gst-test.git
